/* *{
  border: 1px solid black;
  } */
  @font-face {
   font-family: 'icomoon';
   src:  url('../fonts/icomoon.eot?lqs6wj');
   src:  url('../fonts/icomoon.eot?lqs6wj#iefix') format('embedded-opentype'),
   url('../fonts/icomoon.ttf?lqs6wj') format('truetype'),
   url('../fonts/icomoon.woff?lqs6wj') format('woff'),
   url('../fonts/icomoon.svg?lqs6wj#icomoon') format('svg');
   font-weight: normal;
   font-style: normal;
 }
 @font-face{
   font-family: 'andadaregular';
   src: url('../fonts/andada-regular-webfont.eot');
   src: url('../fonts/andada-regular-webfont.eot?#iefix') format('embedded-opentype'),
   url('../fonts/andada-regular-webfont.woff2') format('woff2'),
   url('../fonts/andada-regular-webfont.woff') format('woff'),
   url('../fonts/andada-regular-webfont.svg#andadaregular') format('svg');
   font-weight: normal;
   font-style: normal;
 }

 [class^="icon-"], [class*=" icon-"] {
   /* use !important to prevent issues with browser extensions that change fonts */
   font-family: 'icomoon' !important;
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;
   font-size: 48px;

   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

 /* ICONOS REDES SOCIALES */
 .icon-calendar:before {
   content: "\e900";
 }
 .icon-date:before {
   content: "\e900";
 }
 .icon-schedule:before {
   content: "\e900";
 }
 .icon-linkedin:before {
   content: "\e901";
 }
 .icon-hammer:before {
   content: "\e902";
 }
 .icon-tool:before {
   content: "\e902";
 }
 .icon-fix:before {
   content: "\e902";
 }
 .icon-make:before {
   content: "\e902";
 }
 .icon-generate:before {
   content: "\e902";
 }
 .icon-work:before {
   content: "\e902";
 }
 .icon-build:before {
   content: "\e902";
 }
 .icon-briefcase:before {
   content: "\e903";
 }
 .icon-portfolio:before {
   content: "\e903";
 }
 .icon-suitcase:before {
   content: "\e903";
 }
 .icon-work1:before {
   content: "\e903";
 }
 .icon-job:before {
   content: "\e903";
 }
 .icon-employee:before {
   content: "\e903";
 }
 .icon-whatsapp:before {
   content: "\e904";
 }
 .icon-brand:before {
   content: "\e904";
 }
 .icon-social:before {
   content: "\e904";
 }
 .icon-instagram:before {
   content: "\e905";
 }
 .icon-brand1:before {
   content: "\e905";
 }
 .icon-social1:before {
   content: "\e905";
 }
 .icon-facebook:before {
   content: "\e906";
 }
 .icon-brand2:before {
   content: "\e906";
 }
 .icon-social2:before {
   content: "\e906";
 }


 body{
   font-family: andadaregular;
   font-size: 16px;
   line-height: 1.4em;
 }
 header, main, section, article, footer{
   padding-bottom: 15px;
 }
 .container{
   width: 1024px;
   margin: 0 auto;
   overflow: hidden;
 }
 h2{
   text-align: center;
   border-bottom: 2px solid red;
   padding-bottom: 15px;
   color: white;
   text-shadow: 4px 4px 4px black;
   letter-spacing: 3px;
 }
 /*--------------------ENCABEZADO------------------*/
 .hero{
   background: #3c3d42;
   overflow: hidden;
 }
 .hero .container{
   margin-top: 5px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
 .hero h1{
  line-height: 40px;
  letter-spacing: 3px;
  color: white;
  text-shadow: 4px 4px 4px black;
}
.hero h1 span{
 color: #70AE6F;
}
.imagen{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 5px;

}
.imagen img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 3px solid white;
  box-shadow: 4px 4px 4px black;
  box-sizing: border-box;
  border-radius: 50%;
}

/*-----------------CONOCIMIENTOS--------------------*/
.principal{
 background: #44546b;
}

.principal .conocimientos{
 display: flex;
 align-items: center;
 justify-content: space-around;
}
.conimientos img{
 /* max-width: 100%; */
}

/*----------------CERTIFICACIONES-------------------*/
.logros{
 background: #27710dcc;
}
.diplomas{
 display: grid;
 grid-template: repeat(3, 1fr) / repeat(3, 1fr);
 grid-template-areas: "n1 n2 n3"
 "n4 n5 n6"
 "n7 n8 n9";
 grid-gap: 5px;
 overflow: hidden;
 padding: 3px 3px;
}
.diplomas div{
 display: flex;
 justify-content: center;
 align-items: center;
 border: 2px solid black;
 border-radius: 5px;
 box-shadow: 2px 2px 2px black;
 box-sizing: border-box;
}
.diploma .n1{
 grid-area: "n1";
}
.diploma .n2{
 grid-area: "n2";
}
.diploma .n3{
 grid-area: "n3";
}
.diploma .n4{
 grid-area: "n4";
}
.diploma .n5{
 grid-area: "n5";
}
.diploma .n6{
 grid-area: "n6";
}
.diploma .n7{
 grid-area: "n7";
}
.diploma .n8{
 grid-area: "n8";
}
.diplomas img{
 width: 100%;
} 


/*-------------------EXPERIENCIA LABORAL------------------*/
.experiencia{
 background-color: #152290;
}
.grid-exp-container{
 display: grid;
 grid-template: repeat(2, 1fr) / repeat(2, 1fr);
 grid-gap: 20px 20px;
}
.job h3{
 padding-bottom: 10px;
 border-bottom: 2px solid red;
 text-shadow: 2px 2px 2px black;
}
.job h3, p{
 text-align: center;
 color: white;
 letter-spacing: 3px;
}
.job p{
 margin: 5px 0;
 color: white;
 letter-spacing: 3px;
}
.job i{
 font-size: 20px;
 margin-right: 5px;
}

/*------------------CONTACTAR---------------------------*/
.social{
 background: #7f8426;
}
.social .container{
 display: block;
}
.container .icons{
 display: flex;
 align-items: center;
 justify-content: center;
}
.icons a{
 display: block;
 margin: 0 15px;
 text-decoration: none;
 transition: 1s;
}
.icons a:hover i{
 font-size: 60px;
}
.icons i{
 color: white;
 transition: 1s;
}

/*---------------------DATOS---------------------------*/
.datos{
 background-color: #2a3520;
}
.datos .container p{
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 5px 0;
}

@media screen and (max-width: 1024px){
 /*--------------------ENCABEZADO-------------------*/
 .hero{
  padding: 0 20px;
}
.hero .container{
  width: 100%;
}
.hero h1{
  width: 80%;
}

/*-----------------CONOCIMIENTOS-------------------*/
.principal .container{
  width: 100%;
}
.container .conocimientos{
  width: 100%;
}

/*------------------DIPLOMAS------------------------*/
.logros .container{
  width: 100%;
  overflow: hidden;
}
.logros h2{
  margin: 10px 20px;
}
.logros .diplomas{
  margin: 0 20px;
}

/*----------------EXPERIENCIA----------------------*/
.experiencia .container{
  width: 100%;
}
.experiencia h2{
  margin: 10px 20px;
}
.experiencia .grid-exp-container{
  margin: 0 20px;
}

/*------------------CONTACTO--------------------------*/
.social .container{
  width: 100%;
}
h2{
  margin: 20px 20px;
}

/*------------------DATOS-----------------------*/
.datos .container{
  width: 100%;
}
} 

@media screen and (max-width: 768px){
 /*--------------------ENCABEZADO-------------------*/
 .hero{
  padding: : 0 20px;
}
.hero h1{
  max-width: 100%;
  width: 100%;
  font-size: 26px;
  line-height: 30px;
  text-align: left;
  letter-spacing: 5px;
}
.hero img{
  margin-bottom: 15px;
}

/*-----------------CONOCIMIENTOS-------------------*/
.principal .container .conocimientos{
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}
.conocimientos div{
  display: flex;
  justify-content: center;
  align-items: center;
}
} 


@media screen and (max-width: 480px){
 /*--------------------ENCABEZADO-------------------*/
 h2{
  font-size: 20px;
}
h3{
  font-size: 18px;
}
.hero .container{
  display: block;
  width: 100%;
}
.hero h1{
  line-height: 28px;
  text-align: center;
  letter-spacing: 4px;
}
.hero img{
  margin: 0 40px;
  width: 80%;
  max-width: 80%;
  margin-bottom: 15px;
  box-shadow: 2px 2px 2px black;
}

/*--------------------CONOCIMIENTOS-------------------*/
.conocimintos{
  background-color: red;
}
.principal .container .conocimientos{
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  margin: 0;
  padding: 0;
}
.conocimientos div{
  margin: 0;
  padding: 0;
}
.conocimientos img{
  width: 100%;
  max-width: 50%;
}
.conocimientos div:nth-of-type(4) img{
  width: 100%;
  max-width: 35%;
}

/*------------------CERTIFICACIONES--------------------*/
.diplomas{
 display: grid;
 grid-template: repeat(5, 1fr) / repeat(2, 1fr);
 grid-template-areas: "n1 n2"
 "n3 n4"
 "n5 n6"
 "n7 n8"
 "n9 n9";
 grid-gap: 5px;
 overflow: hidden;
 padding: 3px 3px;
}

/*-------------------EXPERIENCIA----------------------*/
.experiencia .container{
  display: block;
  width: 100%;
}
.experiencia .container .grid-exp-container{
  display: block;
}
.job:nth-of-type(1){
  margin-bottom: 25px;
}
.job:nth-of-type(2){
  margin-bottom: 25px;
}
.job:nth-of-type(3){
  margin-bottom: 25px;
}
}

@media screen and (max-width: 320px){
 .hero{
  padding: 0 20px;
  margin-top: 15px;
}
.hero h1{
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 5px;
}
.hero img{
  margin-bottom: 15px;
}

.logros .diplomas{
  display: block;
}
.diplomas .diploma{
  margin-bottom: 5px;
}

.container .icons{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0;
}
.icons a{
  margin: 0 5px;
}

.icons i{
  display: block;
  width: 100%;
  font-size: 30px;

}